@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #191920;
}
.scrollbar-hidden {
  overflow-y:auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

/* Firefox scrollbar */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}